<header id="header" class="top-nav">
  <h1>Sleep Log</h1>
  <nav>
    <ul>
      <li><a class='nav-links' href="/">MONTHS</a></li>
      <li><a class='nav-links' href="/new">NEW ENTRY</a></li>
    </ul>
  </nav>

</header>
