<%include partials/boilerplate %>
  <a href='/new'><button type='button'>Add!</button></a>
  </form>
<div class='months-contain'>

<% monthsSleep.forEach( sleep => { %>
<a href="/day/<%= sleep.id%>">
<div class='day-tiles'>
  <p><%= sleep.id,%><br><%=sleep.sleep_start%></p>
</div></a>
<% }) %>



<% include partials/end %>
