
.months-view {
  border: solid-black;
}

hr {

  background-color: #00A9A5;
  height: 10px;
  border: none;
  margin-bottom: 40px;

}


.top-nav li {
 display: inline;
 width: 600px;

}

.nav-links {
  color: white;
  font-family: 'Unica One', cursive;
}

.months-contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

body {
  background-color: #90C2E7;

}

h1, h2 , p{
  font-family: 'Unica One', cursive;

}

h1 {
  font-size:40px;
  color:black;
}

h2 {
  font-size: 30px;
}

.month-tiles, .day-tiles {
  display: flex;
  justify-content: center;
  width: 200px; height: 100px;
  border: solid;
  align-items: center;
  margin:10px;
  background-color: #F9EDCC;
  border-radius: 18px;
}

.month-tiles:hover, .day-tiles:hover  {
  background-color: #00A9A5;
  font-size: 20px;
  box-shadow: 5px 10px;


}

button, .buttons {
  width: 100px; height: 50px;
  border-radius: 15px;
  font-family: 'Unica One', cursive;
  font-size: 20px;
}

button:hover {
  background-color: lightgray;

}

a {
  text-decoration: none;
  color: black;
}

.day-contain {
  display: flex;
  justify-content: center;
  width: 200px; height: 200px;
  border: solid;
  margin:10px;
}


















